html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        form(action="")
            include ./form-header-mixin.pug
            +header
            p
                input(
                    type="text"
                    name="studentName")
            p
                select (name="")
                    option(value="Male") Male
                    option(value="Female") Female
            p
                button Submit