<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Register
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title Register
                    form
                        div.form-row
                            div.col.form-group
                                label First name
                                input.form-control(name="firstName")
                            div.col.form-group
                                label Last name
                                input.form-control(name="lastName")