<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Register
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title Register
                    form(action="/register", method="POST")
                        div.form-row
                            .col.form-group
                                label First name
                                input.form-control(name="firstName")
                            .col.form-group
                                label Last name
                                input.form-control(name="lastName")
                        div.form-row
                            .col.form-group
                                label Email address
                                input.form-control(type="email", name="emailAddress")
                                p We'll never share your email with anyone else.
                        div.form-row
                            .col.form-group
                                label.form-check.form-check-inline
                                    input.form-check-input(type="radio", name="gender", value="Male")
                                    span.form-check-label Male
                                label.form-check.form-check-inline
                                    input.form-check-input(type="radio", name="gender", value="Female")
                                    span.form-check-label Female
                        div.form-row
                            .col.form-group
                                label City
                                input.form-control(name="city")
                            .col.form-group
                                label Country
                                select.form-control(name="country")
                                    option(value="Uganda") Uganda
                                    option(value="United States") United States
                        div.form-row
                            .col.form-group
                                label Create password
                                input.form-control(type="password", name="password")
                        div.form-row
                            .col.form-group
                                button#register-button.form-control.btn.btn-primary.btn-block(type="submit") Button